name: unit-tests
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags-ignore:
      - '*.*'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - uses: actions/setup-node@v1.4.4
        with:
          node-version: '12.8'
          registry-url: 'https://registry.npmjs.org'

      - name: Install and Test
        run: |
          npm ci
          npm run test:lib-coverage
          npm run report-coverage:lib

#      - name: Uploade CodeCov Report
#        uses: codecov/codecov-action@v1
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}
